.bicicletas-lista{
  padding-top: 20px;
  /* padding-bottom: 120px; */

}
.bicicletas-lista h2{
  padding-top: 0px;
}
.bicicletas-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.bicicletas-lista li{
  min-width: 220px;
}

.bicicletas-lista a{
  display: block;
}
.bicicletas-lista img{
  margin-bottom: 16px;
}
.bicicletas-lista h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.bicicletas-lista h3::before{
  content: "";
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
  transition: 0.2s;
} 

.bicicletas-lista a:hover h3::before{
  width: 24px;
}



.bicicletas-lista li span{
  padding-left: 20px;
}

@media (max-width: 800px){
  .bicicletas-lista{
    padding: 0px;
  }

  .bicicletas-lista ul{
    gap: 10px;
  }
  .bicicletas-lista h2{
    padding: 26px 20px;
  }
}

@media (max-width: 600px){
  .bicicletas-lista ul{
    flex-wrap: wrap;
  }
}